@page "/"

@inject NavigationManager NavManager

<PageTitle>Dashboard</PageTitle>

<button class="btn btn-primary btn-small" onclick="@(() => NavManager.NavigateTo("/scalar/v1", true))">Open API Documentation</button>

