<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <HeadOutlet @rendermode="new InteractiveWebAssemblyRenderMode(false)"/>
    <base href="/"/>
    <link href="@Assets["css/app.css"]" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" href="@Assets["media/BackupSystemLogo.ico"]">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <link href="@Assets["_content/MudBlazor/MudBlazor.min.css"]" rel="stylesheet"/>

</head>
<body>

<div id="preload">
    <svg class="loading-progress">
        <circle r="40%" cx="50%" cy="50%"/>
        <circle r="40%" cx="50%" cy="50%"/>
    </svg>
    <div class="loading-progress-text"></div>
</div>

<Routes @rendermode="new InteractiveWebAssemblyRenderMode(false)"/>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

<script loading="lazy" src="_framework/blazor.web.js"></script>
<script loading="lazy" src="@Assets["_content/MudBlazor/MudBlazor.min.js"]"></script>
<script>
    function hideElementById(id) {
        var element = document.getElementById(id);
        element.style.display = "none";
    }
</script>
</body>

</html>

